* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #85BAE2;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

nav {
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

pose {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 30px;
}

.result {
  display: inline-block;
}

h1 {
  font-size: 8em;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 5em;
  font-weight: bold;
  margin-top: 20px;
}

h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 20px;
}

h5 {
  font-size: 2em;
  margin-bottom: 20px;
}

h6 {
  font-size: 1.5em;
}

p {
  font-size: 3em;
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

input[type="text"] {
  padding: 10px;
  border: none;
  font-size: 30px;
  width: 600px;
  max-width: 100%;
  border-radius: 5px 0 0 5px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #f2f2f2;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

input[type="submit"]:hover {
  background-color: #e6e6e6;
}

footer {
  text-align: center;
  padding: 80px 20px 20px;
}

a:visited {
 text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}