<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yoga MAIT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<header>
      <header>
    <nav>
        <span class="result">
        <a href="{{ url_for('hello_world') }}" class="logo">Yoga MAIT</a>
            <form action="{{ url_for('results') }}" name="search" method="post">
                <input type="text" id="query" name="query" size="50" required value="{{ q }}" placeholder="Search...">
                <input type="submit" value="Search">
            </form>
        </span>
    </nav>
</header>
</header>
<main>
<h1>404</h1>
<p>Page Not Found</p>
</main>
<footer>
    <h6>Yoga MAIT (Mindfulness AI Tool) - 2023</h6>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>