<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yoga MAIT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<header>
    <nav>
        <span class="result">
        <a href="{{ url_for('hello_world') }}" class="logo">Yoga MAIT</a>
            <form action="{{ url_for('results') }}" name="search" method="post">
                <input type="text" id="query" name="query" size="50" required value="{{ q }}" placeholder="Search...">
                <input type="submit" value="Search">
            </form>
        </span>
    </nav>
</header>
<main>
<h1>Yoga MAIT</h1>
<p>Your Personal Mindfulness AI Tool</p>
    <form action="{{ url_for('results') }}" name="search", method="post" class="search-form">
        <input type="text" id="query" name="query" size="50" required class="main-search" placeholder="Search...">
        <input type="submit" value="Search">
    </form>
</main>
<footer>
    <h6>Yoga MAIT (Mindfulness AI Tool) - 2023</h6>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>