<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pose["name"] }}</title>
</head>
<body>
    <h1>{{ pose["name"] }} ({{ pose["difficulty"] }})</h1>
    <img src="{{ image }}">
    <p>{{ pose["description"] }}</p>
    <p>{{ pose["benefits"] }}</p>
    <h4>Variations:</h4>
    {% for p,p_anchor in pose["variations"]|zip(pose["variations_key"]) %}
    <ul>
        {% if p != pose["name"] %}
        <li><a href="{{ url_for("pose",name=p_anchor) }}">{{ p }}</a></li>
        {% endif %}
    </ul>
    {% endfor %}
    <h4>Transitions From:</h4>
    {% for p, p_anchor in pose["transitions_from"]|zip(pose["transitions_from_key"]) %}
    <ul>
        {% if p != pose["name"] %}
        <li><a href="{{ url_for("pose",name=p_anchor) }}">{{ p }}</a></li>
        {% endif %}
    </ul>
    {% endfor %}
    <h4>Transitions Into:</h4>
    {% for p, p_anchor in pose["transitions_into"]|zip(pose["transitions_into_key"]) %}
    <ul>
        {% if p != pose["name"] %}
        <li><a href="{{ url_for("pose",name=p_anchor) }}">{{ p }}</a></li>
        {% endif %}
    </ul>
    {% endfor %}
</body>
</html>