<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pose["name"] }}</title>
</head>
<body>
    <h1>{{ pose["name"] }}</h1>
    <h3>({{ pose["difficulty"] }})</h3>
    <img src="{{ image }}" style="width: 500px; height: 500px" alt="a person doing {{ pose["name"] }} pose">
    <p>{{ pose["description"] }}</p>
    <p>{{ pose["benefits"] }}</p>
    {% if pose["variations"]|length != 1 %}
    <h4>Variations:</h4>
    {% else %}
    <h4>No other variations</h4>
    {% endif %}
    {% for p,p_anchor in pose["variations"]|zip(pose["variations_key"]) %}
    <ul>
        {% if p_anchor != anchor %}
        <li><a href="{{ url_for("pose",name=p_anchor) }}">{{ p }}</a>
        <img src="/static/small_images/{{p_anchor}}.png" style="width: 80 px; height: 80px" alt="/static/small_images/{{p_anchor}}.png"></li>

        {% endif %}
    </ul>
    {% endfor %}
    <h4>Transitions From:</h4>
    {% for p, p_anchor in pose["transitions_from"]|zip(pose["transitions_from_key"]) %}
    <ul>
        {% if p != pose["name"] %}
        <li><a href="{{ url_for("pose",name=p_anchor) }}">{{ p }}</a>
            <img src="/static/small_images/{{p_anchor}}.png" style="width: 80 px; height: 80px" alt="/static/small_images/{{p_anchor}}.png"></li>
        {% endif %}
    </ul>
    {% endfor %}
    <h4>Transitions Into:</h4>
    {% for p, p_anchor in pose["transitions_into"]|zip(pose["transitions_into_key"]) %}
    <ul>
        {% if p != pose["name"] %}
        <li><a href="{{ url_for("pose",name=p_anchor) }}">{{ p }}</a>
            <img src="/static/small_images/{{p_anchor}}.png" style="width: 80 px; height: 80px" alt="/static/small_images/{{p_anchor}}.png"></li>
        {% endif %}
    </ul>
    {% endfor %}
</body>
</html>