<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pose["name"] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
<header>
    <nav>
        <span class="result">
        <a href="{{ url_for('hello_world') }}" class="logo">Yoga MAIT</a>
        </span>
        <span class="result">
            <form action="{{ url_for('results') }}" name="search" method="post">
                <input type="text" id="query" name="query" size="50" required value="{{ q }}" placeholder="Search...">
                <input type="submit" value="Search">
            </form>
        </span>
    </nav>
</header>
<pose>
    <h2>{{ pose["name"] }}</h2>
    <h3>({{ pose["difficulty"] }})</h3>
    <img src="{{ image }}" style="width: 500px; height: 500px" alt="a person doing {{ pose["name"] }} pose" class="result">
    <h6 class="result">{{ pose["description"] }}</h6>
    <h6>{{ pose["benefits"] }}</h6>
    {% if pose["variations"]|length != 1 %}
    <br>
    <h6>Variations:</h6>
    {% else %}
    <h6>No other variations</h6>
    {% endif %}
    {% for p,p_anchor in pose["variations"]|zip(pose["variations_key"]) %}
    <ul>
        {% if p_anchor != anchor %}
        <li><a href="{{ url_for("pose",name=p_anchor) }}">{{ p }}</a>
        <img src="/static/small_images/{{p_anchor}}.png" style="width: 80 px; height: 80px" alt="/static/small_images/{{p_anchor}}.png"></li>

        {% endif %}
    </ul>
    {% endfor %}
    <br>
    <h6>Transitions From:</h6>
    {% for p, p_anchor in pose["transitions_from"]|zip(pose["transitions_from_key"]) %}
    <ul>
        {% if p != pose["name"] %}
        <li><a href="{{ url_for("pose",name=p_anchor) }}">{{ p }}</a>
            <img src="/static/small_images/{{p_anchor}}.png" style="width: 80 px; height: 80px" alt="/static/small_images/{{p_anchor}}.png"></li>
        {% endif %}
    </ul>
    {% endfor %}
    <br>
    <h6>Transitions Into:</h6>
    {% for p, p_anchor in pose["transitions_into"]|zip(pose["transitions_into_key"]) %}
    <ul>
        {% if p != pose["name"] %}
        <li><a href="{{ url_for("pose",name=p_anchor) }}">{{ p }}</a>
            <img src="/static/small_images/{{p_anchor}}.png" style="width: 80 px; height: 80px" alt="/static/small_images/{{p_anchor}}.png"></li>
        {% endif %}
    </ul>
    {% endfor %}
</pose>
<footer>
    <h6>Yoga MAIT (Mindfulness AI Tool) - 2023</h6>
</footer>
</body>

</html>